@import "../styles/mediaQuery.scss";
@import "../styles/utils.scss";

.nav-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
  margin: 2rem 0;

  @include responsive(tab) {
    padding: 0 1rem;
  }
  @include responsive(desktop) {
    padding: 0 2rem;
  }

  .nav-content {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    @include responsive(tab) {
      width: 40%;
    }
    @include responsive(desktop) {
      padding-right: 2rem;
      width: 30%;
    }
    @include responsive(large-screen) {
      width: 30%;
    }

    .nav-link {
      font-size: 1.5rem;

      @include responsive(tab) {
        font-size: 2rem;
      }
      @include responsive(large-screen) {
        font-size: 2.5rem;
      }
      &:active {
       border-bottom: 3px solid $dark-gray;
      }
    }
  }
}